.container {
    position: fixed;
    width: 300px;
    background: #fff;
    z-index: 10;
    top: 66px;
    transition: .2s all;
    height: calc(100vh - 63px);
    padding-bottom: 20px;
    overflow: auto;
    overflow-x: hidden;
    transition: .5s all cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.wall {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 66px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s all cubic-bezier(0.76, 0, 0.24, 1);
}

.container::-webkit-scrollbar {
    width: 8px;
}


.container::-webkit-scrollbar-thumb {
    opacity: 0;
    margin-top: 20px;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.15);
    padding: 0;
}

.container::-webkit-scrollbar-track {
    width: 1rem;
}

.container.close {
    width: 80px;
    padding-inline: 5px;
    padding-left: 10px;
}

.tagsHeading {
    transition: .2s all;
    color: var(--dim-text-color);
}

.container.close .tagsHeading {
    margin-left: 13px !important;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.item {
    list-style: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--dim-text-color);
    user-select: none;
    transition: .2s all;
    white-space: nowrap;
}

.item.close {
    transition-delay: .05s;
    width: 54px !important;
    background: transparent !important;
}

.item.close.selected span {
    background: var(--light-theme-color);
}


.container:hover {
    transition-duration: .2s;
    width: 300px !important;
    padding: 0 !important;
}

.container.close:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container:hover .item span {
    background: transparent;
}

.container:hover .item:hover {
    background: var(--light-hover-color) !important;
}

.container:hover .item {
    border-radius: 0px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: auto !important;
}

.container:hover .item.selected {
    background: var(--light-theme-color) !important;
}

.item:hover {
    cursor: pointer;
    background: #f1f3f4;
}

.item.selected {
    background: var(--light-theme-color);
}

.item span {
    font-size: 1.5rem !important;
    border-radius: 50%;
    padding: 8px 15px;
}

@media screen and (max-width:980px) {
    .container {
        width: 250px;
    }
}

@media screen and (max-width:650px) {

    .container.close {
        width: 250px;
        padding-inline: 0px;
    }

    .item.close {
        transition-delay: 0s;
        border-radius: 0%;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        width: 100% !important;
    }

    .container {
        left: -100%;
    }

    .container.close {
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .wall {
        opacity: 1;
        pointer-events: all;
        z-index: 10;
    }

    .container::-webkit-scrollbar {
        width: 7px;
    }

    .container.close .tagsHeading {
        margin-left: 18px !important;
    }

    .item span {
        background: transparent !important;
    }

    .container:hover {
        width: 250px !important;
    }

    .item.selected {
        background: var(--light-theme-color) !important;
    }

}