body {
    font-family: "Roboto", sans-serif !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    --light-text-color: rgba(0, 0, 0, 0.4);
    --dim-text-color: rgba(0, 0, 0, 0.7);
    --dull-text-color: #5f6368;
    --light-theme-color: #feefc3;
    --light-hover-color: #f1f3f4
}

a {
    text-decoration: none;
    color: black !important;
}

.hstack {
    flex-wrap: wrap !important;
}

.container {
    max-width: 100% !important;
    padding-bottom: 50px;
    padding: 0 30px 0 0px !important;
}

aside {
    position: sticky;
    left: 0;
    top: 40px;
    height: 100vh;
}

main {
    transition: .3s all cubic-bezier(0.76, 0, 0.24, 1);
    padding-left: 350px;
    padding-bottom: 50px;
}

.main.close {
    padding-left: 100px !important;
}

.notesHeading {
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 32px 5px 8px;
}

.IconBtn {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s all;
    cursor: pointer;
    min-width: 37px;
    min-height: 37px;

}

.trashIcon {
    font-size: 1rem !important;
}

.IconBtn:hover {
    background: rgba(0, 0, 0, 0.08);
    color: var(--dim-text-color);
}

.not-found {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width:980px) {
    main {
        padding-left: 280px;
    }

}

@media screen and (max-width:650px) {

    main,
    .main.close {
        padding-left: 0px !important;
    }

    .container {
        padding-inline: 10px !important;
    }
}